<nav class="navbar navbar-expand-light navbar-dark navbar-expand-lg" style="background-color: #d4240d;">

    <div class="container">
        <a class="navbar-brand" href="/">Speech Detection </a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" fs="4" href="/" aria-current="page">Home<span
                            class="visually-hidden">(current)</span></a>
                </li>
                <li class="nav-item"><a href="/login" class="nav-link fs=4">Login</a></li>
                <li class="nav-item"><a href="/register" class="nav-link fs=4">Register</a></li>
            </ul>
            <form class="d-flex my-2 my-lg-0">
                <input class="form-control me-sm-2" type="text" placeholder="Search" />
                <button class="btn bg-light"><i class="fa fa-search"> </i></button>
            </form>
        </div>
    </div>
</nav>